<div class="container mt-5">
    <h2 class="text-center">Driver Details</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex align-items-center">
            <div class="ms-2 col-6">Name:</div>
            <div class="me-2 col-6">{{driverDetails.name}}</div>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <div class="ms-2 col-6">Phone:</div>
            <div class="me-2 col-6">{{driverDetails.phone}}</div>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <div class="ms-2 col-6">Vehicle Type:</div>
            <div class="me-2 col-6">{{driverDetails.vehicleType}}</div>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <div class="ms-2 col-6">Status:</div>
            <div class="me-2 col-6">{{driverDetails.status}}</div>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <div class="ms-2 col-6">Available From:</div>
            <div class="me-2 col-6">{{driverDetails.availableFrom}}</div>
        </li>
    </ul>
</div>
