<app-navbar></app-navbar>

<div class="container mt-5">
    <form [formGroup]="availableDrivers" (ngSubmit)="searchDrivers(availableFrom, type)">
      <div class="row align-items-center mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="vehicleType">Vehicle Type</label>
            <select class="form-control" id="vehicleType" formControlName="type">
              <option value="Small">Small (2 Seats)</option>
              <option value="Medium">Medium (4 Seats)</option>
              <option value="Large">Large (6 Seats)</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="searchCriteria">Pick up location</label>
            <input type="text" formControlName="availableFrom" class="form-control" id="searchCriteria" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block">Search Driver</button>
        </div>
      </div>
    </form>
    <div class="mt-3">
      <div >
        </div>
    </div>
    <div class="text-center">
    </div>
  </div>
  
