<app-navbar></app-navbar>

<div class="container mt-5">
    <form (ngSubmit)="searchDrivers()">
      <div class="row align-items-center mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="searchLocation">Pick-up Location (Optional)</label>
            <select class="form-control" id="searchLocation">
              <option ></option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="searchCriteria">Search by Driver Name or Vehicle</label>
            <input type="text" class="form-control" id="searchCriteria" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block">Search Driver</button>
        </div>
      </div>
    </form>
    <div class="mt-3">
      <div >
        </div>
    </div>
    <div class="text-center">
    </div>
  </div>
  
